# Build
target/
build/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Secretos y config local
.env
*.env
!.env.example
application-local.yml
application-local.yaml
application-local.properties
src/main/resources/application-local.yml
*.pem
*.key

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/
nbproject/private/

# SO
.DS_Store
Thumbs.db

# Logs
*.log
logs/
